@import "tailwindcss";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";

@theme {
    --font-sans: "Inter", sans-serif;
    --font-serif: "Playfair Display", serif;

    --color-gold: #C8A96E;
    --color-dark: #1F1F1F;
    --color-cream: #FDFBF7;
    --color-softgray: #F5F3EF;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: var(--font-sans);
        background-color: var(--color-cream);
        color: var(--color-dark);
    }
}

@layer components {
    .hover-lift {
        transition: transform .3s ease, box-shadow .3s ease;
    }

    .hover-lift:hover {
        transform: translateY(-6px);
        box-shadow: 0 25px 30px -12px rgba(0, 0, 0, .15);
    }

    .mobile-menu {
        transition: all .3s ease;
    }
}